/*@font-face {
  font-family: "articulat";
  src: url(../assets/Fonts/articulat_web_font_format);
  src: url(articulatcf-bold-webfont.woff) format('woff');
}*/
/*MATERIALIZE CSS*/

/*MAIN CSS*/
body {
  /*background-color: rgb(0,122,255);*/
}

header {
  width: 100%;
  position: fixed;
}

.logo {
  margin-top: 29px;
  padding-left: 15px;
 /* max-width: 208px;
  max-height: 43px;*/
}

#contact {
  /*margin: 30px;*/
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 200;
  padding: 0px;
  /*position: fixed;*/
}

#aboutus {
  /*margin: 30px;*/
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 200;
  padding: 0px;
  /*position: fixed;*/
}

#welcome{
  height: 100vh;
}

/*#innerDiv {
  z-index: 1;
  background-size: cover;
  background-color: rgba(0,0,0,1);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.35) 100%);
}*/

.jumbotron{
  z-index: -1;
  background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url(../assets/Photos/JungeLeuteessenSushiinAsiaRestaurant.jpg);
  background-size: cover;
}


.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  /*background-color: rgb(255, 255, 255);*/
  border-top: 1px solid rgb(224, 224, 224);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(224, 224, 224);
}

.transparent {
  /*opacity: 0;*/
}
