/*FONT FOR USE*/
/*@font-face {
  font-family: "articulat_cfbold", sans-serif;
  src: url(./fontstylesheet.css);
}*/

/*HIDE MOBILE*/
#mobile {
  display: none;
}

body {
  backgroung: white;
}

/*VIDEO CSS*/

/* Makes a fixed background wrapper
which the user cannot interact with */

.iframe-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  overflow: hidden;
}

/* Make the iframe keep an aspect ratio, and
position it in the middle of its parent wrapper*/

.iframe-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

/*MAKESHIFT NAV-BAR*/
header {
  width: 100%;
  /*position: fixed;*/
}

/*LOGO AND BRAND TITLE*/
.logo {
  margin-top: 29px;
  padding-left: 15px;
 /* max-width: 208px;
  max-height: 43px;*/
}

#critykLogo{
  -webkit-filter: drop-shadow(0px 1px 5px rgba(0,0,0,0.5));
  filter:         drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

/*TEXT SHADOW*/
.shadows {
  text-shadow: 0px 2px 8px rgba(0,0,0,0.65);
}

.links {
  margin-top: 50px;
}

#contact {
  /*margin: 30px;*/
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 200;
  padding: 0px;
  /*position: fixed;*/
}

#aboutuslink {
  /*margin: 30px;*/
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 200;
  padding: 0px;
  /*position: fixed;*/
}

#welcome{
  /*height: 90vh;*/
  margin-bottom: 0;
  min-height: 800px;
}

.goodnews {
  margin-bottom: 5%;
}

/*SIGN UP BUTTON*/
#signup{
  font-weight: 200;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}


.jumbotron{
  z-index: -1;
  max-height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.65),
      rgba(0,0,0,0.45)
    );
    /*url(../assets/Photos/JungeLeuteessenSushiinAsiaRestaurant.jpg);*/
  background-size: cover;
  background-position: center;
}

.main {
  text-align: center;
  width: 100%;
  height: 60%;
  margin-top: 20%;
  margin-bottom: 40%;
  position: relative;
}

/*SPACER DIV TO PUSH ARROW BUTTON DOWN*/
#spacer {
  height: 175px;
  width: 100%;
}

/*BREAK*/
.break{
  height: 20px;
  background: white;
}

/*ABOUT US*/
#aboutus {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  min-height: 500px;
  color: #007AFF;
}

#love {
  width: 46px;
  height: 53px;
}

#aboutus h1 {
  font-weight: 300;
}

#aboutus h3 {
  font-weight: 200;
}

#aboutus a {
  color: #007AFF;
  font-weight: 300;
  padding: 5px;
  border: 1px solid #007AFF;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
}

/*PARALLAX*/
.parallax-container {
  z-index: 2;
  height: 350px;
}

/*SECTION 2*/
#section2 {
  border-top: 50px solid white;
  height: 650px;
  background: white;
  z-index: 1;
  margin-bottom: 0px;
}

#section2 h2 {
  margin-top: 15%;
  margin-left: 5%;
  font-weight: 200;
}

#section2 h5 {
  font-weight: 200;
  margin-left: 5%;
  margin-right: 20%;
  margin-bottom: 30px;
}

#section2 a {
  color: white;
  font-weight: 300;
  margin-left: 15%;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
}

#s2photo {
  background:radial-gradient(
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.55)
    ),
    url(../assets/Photos/Teengirleatingaburger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: ;*/
  height: 100%;
}

.photo {
  height: 100%;
  background-position: center;
  max-width: 50%;
  position: relative;
}

.words {
  /*border-right: 1px solid white;*/
  height: 100%;
  max-width: 50%;
  background-color: #007AFF;
  color: white;
}

/*SIGN UP 2*/
#signup2 {
  background: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

#signup2 h3 {
  font-weight: 300;
  color: #007AFF;
  margin-top: 0px;
  padding-top: 10px;
}

.footer {
  margin-top: 0px;
  margin-bottom: 0px;
  /*padding-top: 60px;*/
  /*padding-bottom: 60px;*/
  background-color: #4A4A4A;
  /*border-top: 1px solid rgba(224, 224, 224);*/
  /*border-top-width: 1px;*/
  /*border-top-style: solid;*/
  /*border-top-color: rgb(224, 224, 224);*/
}

footer {
  color: white;
  background-color: #4A4A4A;
  padding-bottom: 10px;
}

.footer a {
  font-weight: 200;
  opacity: 0.75;
}
